@helper TreeView(IEnumerable<TestP3Image.FrontEnd.Mvc.Models.NodeItem> items )
{
    foreach (var item in items)
    {
        <li>

            @if (item.Type == "Categories")
            {
                <a href="/Category/Show/@item.Id"> <span id="@item.Id" title="click to showed Category ./@item.SlugTip">@item.Description</span> </a>
            }
            else if (item.Type == "SubCategories")
            {
                <a href="/SubCategory/Show/@item.Id"> <span id="@item.Id" title="click to showed SubCategory ./@item.SlugTip">@item.Description</span> </a>
            }
            else
            {
                <a href="/Field/Show/@item.Id"> <span id="@item.Id" title="click to showed fields ">@item.Description</span> </a>
            }

            @if (!item.isChild)
            {
                <ul>
                    @TreeView(item.List)
                </ul>
            }
        </li>
    }

}