@model TestP3Image.FrontEnd.Mvc.Models.Field
@{
    ViewBag.Title = "Create Field";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new entry.</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Creating Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description)
            </li>
            <li>
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description)
            </li>
        </ol>
        <input type="submit" value="Create" />
    </fieldset>
    @Html.ValidationSummary()

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
