@model TestP3Image.FrontEnd.Mvc.Models.Category
@section AddToHead{
    <link rel="stylesheet"
          href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    }

@{
    ViewBag.Title = "Details";
}
<div id="users-contain">

    <div class="ui-dialog ui-widget-content ui-corner-all ui-dialog-buttons ">
        <div id="dialog-form" class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-dialog-content">Details</div>
        <div id="dialog-form" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: none; height: 207px;">
            <fieldset>
                <legend>SubCategory</legend>
                <ol>
                    <li>
                        @Html.DisplayNameFor(model => model.Description)
                        @Html.DisplayFor(model => model.Description)
                    </li>
                    <li>
                        @Html.DisplayNameFor(model => model.Slug)
                        @Html.DisplayFor(model => model.Slug)
                    </li>
                </ol>
            </fieldset>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
